* {
	padding: 0;
	margin: 0;
	border: 0;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Press Start 2P',
		cursive;
	color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	background-color: transparent;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

:focus,
:active {
	outline: none;
}

*,
*:before,
*:after {
	text-decoration: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

ul li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:focus,
a:active {
	outline: none;
}

/*-------------------------------------*/

// .header__logo-link {
// 	background-image: url(./images/background-load.jpg);
// 	background-size: cover;
// 	background-position: center;
// }

body {
	background-image: url(images/background-img.jpg);
	background-size: cover;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}

.header {

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo-link {
		color: #444444;
		display: flex;
		align-items: center;
		font-weight: 400;
		font-size: 24px;
		line-height: 24px;

		@media(max-width: 576px) {
			font-size: 18px;
			line-height: 18px;
		}
	}

	&__logo-image {
		@media(max-width: 576px) {
			width: 50px;
			height: 50px;
		}
	}

	&__navigation {
		font-family: 'Rubik',
			sans-serif;
	}

	background-color: transparent;
	position: relative;
}

.container {
	max-width: 1580px;
	margin: 0 auto;
	padding: 0 20px;
}


.navigation {

	&__button {
		position: absolute;
		z-index: 100;
		top: 20px;
		right: 20px;
		display: none;


		@media(max-width: 1200px) {
			display: block;
		}

		@media(max-width: 576px) {
			top: 0px;
			right: 10px;
		}
	}

	&__image-icon {
		width: 70px;
		height: 70px;

		@media(max-width: 576px) {
			width: 50px;
			height: 50px;
		}
	}

	@media(max-width: 1200px) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		background-color: #CE9FE3;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		flex-grow: 1;
		opacity: 0;
		pointer-events: none;
		transition: .3s ease-in-out;
		transition-property: opacity;
		overflow: auto;
		padding: 30px 0;

		@media(max-height:420px) {
			justify-content: unset;
		}

		&[data-menu="open"] {
			opacity: 1;
			pointer-events: auto;
		}

	}

	&__link {
		color: #444444;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		position: relative;
		text-transform: capitalize;

		&:not(:last-child) {
			margin-right: 30px;

			@media(max-width: 1350px) {
				margin-right: 10px;
			}

			@media(max-width: 1200px) {
				margin-right: 0px;
				margin-bottom: 20px;

			}

		}

		@media(max-width: 1200px) {
			font-size: 20px;
			line-height: 22px;

		}




		&:not(.navigation__sponsership, .navigation__register) {

			&::before {
				content: '';
				position: absolute;
				width: 100%;
				height: 1px;
				border-radius: 2px;
				background-color: #18272F;
				bottom: 0;
				left: 0;
				transform-origin: right;
				transform: scaleX(0);
				transition: transform .3s ease-in-out;
			}

			@media(min-width:769px) {
				&:hover::before {
					transform-origin: left;
					transform: scaleX(1);
				}
			}

		}
	}

	&__sponsership {
		color: #E44545;
		padding: 15px;
		display: inline-block;
		border: 1px solid #E44545;
		transition: .1s ease;

		@media(min-width:769px) {
			&:hover {
				background-color: #E44545;
				color: white;
			}
		}
	}

	&__register {
		display: inline-block;
		padding: 15px;
		color: #6F8CF4;
		border: 1px solid #6F8CF4;
		transition: .1s ease;

		@media(min-width:769px) {
			&:hover {
				background-color: #6F8CF4;
				color: white;
			}
		}
	}

}

.main {
	overflow-x: hidden;
}

.hero {
	height: 80vh;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	&__title {
		font-weight: 400;
		font-size: 64px;
		line-height: 64px;
		text-align: center;

		@media(max-width:1024px) {
			font-size: 54px;
			line-height: 54px;
		}

		@media(max-width:992px) {
			font-size: 34px;
			line-height: 34px;
		}

		@media(max-width: 576px) {
			font-size: 24px;
			line-height: 30px;
		}
	}

	&__subtitle {
		max-width: 940px;
		display: block;
		text-align: center;
		margin-top: 40px;
		font-weight: 400;
		font-size: 14px;
		line-height: 200%;

		@media(max-width:992px) {
			font-size: 12px;
			line-height: 180%;
			margin-top: 30px;
		}

		@media(max-width: 576px) {
			font-size: 12px;
			line-height: 140%;
			margin-top: 30px;
		}

		@media(max-height: 500px) {
			margin-top: 10px;
		}

	}

	&__box {
		display: flex;
		align-items: center;
		margin-top: 60px;

		@media(max-width:992px) {
			margin-top: 40px;
		}

		@media(max-height: 500px) {
			margin-top: 10px;
		}

		@media(max-width:576px) {
			flex-direction: column;
			align-items: center;
		}
	}


	&__link {
		color: #fff;
		font-weight: 400;
		font-size: 16px;
		line-height: 16px;
		position: relative;
		padding: 36px 56px;
		transform-style: preserve-3d;

		@media(max-width:992px) {
			padding: 30px 36px;
		}

		@media(max-width:768px) {
			padding: 26px 36px;
			font-size: 14px;
			line-height: 14px;
		}

		@media(max-width:576px) {
			padding: 20px 26px;
			font-size: 12px;
			line-height: 12px;
		}


		&:not(:last-child) {
			margin-right: 22px;

			@media(max-width:576px) {
				margin-right: 0px;
				margin-bottom: 10px;
			}
		}


		&:last-child {
			background-image: url(./images/link-bacground-blue.svg);
			background-position: center;
			background-size: 100% 100%;

			@media(max-width:576px) {
				background-size: 100% 115%;
			}

		}

		&:first-child {
			background-image: url(./images/link-background-red.svg);
			background-position: center;
			background-size: 100% 100%;

			@media(max-width:576px) {
				background-size: 100% 115%;
			}
		}

	}

}

.about {
	margin-top: 200px;

	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 50px;

		@media(max-width: 992px) {
			grid-template-columns: 1fr;
		}

	}

	&__box {
		&:first-child {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: start;

			@media (max-width:992px) {

				order: 1;
			}
		}

		&:last-child {
			display: flex;
			align-items: center;
		}
	}

	&__title {
		font-weight: 400;
		font-size: 40px;
		line-height: 40px;
		text-transform: capitalize;
		color: #444444;
		position: relative;

		&::after {
			content: '';
			display: block;
			height: 5px;
			width: 70%;
			background-color: #999999;
			position: absolute;
			bottom: -38px;

			@media(max-width: 1250px) {
				bottom: -18px;
			}
		}

		@media(max-width: 1250px) {
			font-size: 30px;
			line-height: 30px;
		}

		@media(max-width: 576px) {
			font-size: 22px;
			line-height: 30px;
		}
	}

	&__text {
		font-family: 'Rubik',
			sans-serif;
		font-weight: 300;
		font-size: 20px;
		line-height: 37px;
		text-transform: capitalize;

		color: #444444;
		margin-top: 100px;

		@media(max-width: 1450px) {
			font-size: 18px;
			line-height: 28px;
		}

		@media(max-width: 1250px) {
			margin-top: 50px;
		}

		@media(max-width: 768px) {
			font-size: 16px;
			line-height: 20px;
		}
	}

	&__link {
		display: inline-block;
		margin-top: 20px;
		font-weight: 400;
		font-size: 14px;
		line-height: 14px;
		text-transform: capitalize;
		color: #FFFFFF;
		position: relative;
		background-image: url(./images/link-background-red.svg);
		background-position: center;
		background-size: cover;
		padding: 25px 20px;

		@media(max-width: 1250px) {
			padding: 20px 15px;
			background-size: 95%;
			background-repeat: no-repeat;
			font-size: 12px;
			line-height: 14px;
		}
	}

	&__image {
		object-fit: cover;
		width: 100%;
		height: auto;

	}
}

.time {
	margin-top: 130px;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;


	}

	&__item-date {
		position: relative;

		span {
			font-weight: 400;
			font-size: 32px;
			line-height: 32px;
			text-align: center;
			text-transform: capitalize;


			color: #FFFFFF;
			position: absolute;
			top: 60%;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__item-image {}

	&__item-title {
		display: inline-block;
		margin-top: 12px;
		font-weight: 400;
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		text-transform: capitalize;
		color: #CE9FE3;

	}

	&__title {
		margin-top: 40px;
		font-weight: 400;
		font-size: 24px;
		line-height: 24px;

		text-align: center;
		text-transform: capitalize;


		color: #444444;

		@media(max-width: 576px) {
			font-size: 22px;
			line-height: 30px;
		}
	}

	&__item-title_color-red {
		color: #E44545;
	}
}

.topics {

	&__container {
		margin-top: 125px;
	}

	&__title {
		text-align: center;
		font-weight: 400;
		font-size: 40px;
		line-height: 40px;

		text-align: center;
		text-transform: capitalize;
		position: relative;

		&::after {
			content: '';
			display: block;
			height: 5px;
			width: 30%;
			left: 50%;
			transform: translateX(-50%);
			background-color: #999999;
			position: absolute;
			bottom: -38px;
		}

		@media(max-width: 1250px) {
			font-size: 30px;
			line-height: 30px;
		}

		@media(max-width: 576px) {
			font-size: 22px;
			line-height: 30px;
		}
	}

	&__box {
		margin-top: 135px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));

		gap: 60px;

		@media (max-width:576px) {
			grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		}
	}

	&__item {
		max-width: 420px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: start;

		@media (max-width:576px) {
			max-width: 320px;
		}

		@media (max-width:380px) {
			max-width: 280px;
		}
	}

	&__video-image {
		width: 350px;
		height: 240px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		object-fit: cover;
		object-position: 40%;

		@media (max-width:576px) {
			width: 260px;
			height: 180px;
		}

		@media (max-width:380px) {
			width: 220px;
			height: 150px;
		}
	}

	&__video-link {
		background-image: url(./images/placeholder.svg);
		background-position: center;
		width: 430px;
		display: block;
		height: 310px;
		background-size: 100% 100%;
		position: relative;

		@media (max-width:576px) {
			width: 320px;
			height: 225px;
		}

		@media (max-width:380px) {
			width: 280px;
			height: 200px;
		}

		&::after {
			content: '';
			display: block;
			background-image: url(./images/placeholder-closer.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100% 100%;
			position: absolute;
			width: 360px;
			height: 260px;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);

			@media (max-width:576px) {
				width: 340px;
				height: 185px;
			}

			@media (max-width:380px) {
				width: 225px;
				height: 155px;
			}
		}
	}

	&__video {}

	&__video-subtitle {
		font-weight: 400;
		font-size: 12px;
		line-height: 12px;
		text-transform: capitalize;
		margin-top: 23px;
		display: block;

		@media (max-width:576px) {
			margin-top: 13px;
		}
	}

	&__video-title {
		font-weight: 400;
		font-size: 16px;
		line-height: 155%;
		margin-top: 32px;
		display: inline-block;
		margin-bottom: 20px;

		text-transform: capitalize;

		@media (max-width:576px) {
			margin-top: 22px;
			margin-bottom: 10px;
			font-size: 14px;
			line-height: 135%;
		}
	}

	&__item-image {
		width: 30px;
		height: 30px;

		@media (max-width:576px) {
			width: 25px;
			height: 25px;
		}
	}

	&__play-link {
		display: inline-block;
		margin-top: 20px;
		font-weight: 400;
		font-size: 14px;
		line-height: 14px;
		text-transform: capitalize;
		display: flex;
		align-items: center;
		justify-self: start;

		color: #FFFFFF;
		background-image: url(./images/link-bacground-blue.svg);
		background-position: center;
		background-size: 100% 100%;
		width: fit-content;
		padding: 12px 52px;
		margin-top: auto;

		@media (max-width:576px) {
			padding: 8px 34px;
			margin-top: 10px;
			font-size: 12px;
			line-height: 12px;
		}
	}

	&__button {
		background-image: url(./images/pink-btn.svg);
		background-position: center;
		background-size: 100% 100%;
		font-weight: 400;
		font-size: 14px;
		line-height: 14px;
		text-align: center;
		text-transform: capitalize;
		padding: 28px 32px;
		color: #FFFFFF;
		display: block;
		margin: 0 auto;
		margin-top: 150px;

		@media (max-width:576px) {
			margin: 50px auto 0;
		}
	}
}

.swiper {
	width: 95%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;

	@media (max-width:576px) {
		width: 100%;
	}
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	height: calc((100% - 30px) / 2) !important;

	display: flex;
	justify-content: center;
	align-items: center;
}

.employees {

	&__container {
		margin-top: 200px;
	}

	&__title {
		text-align: center;
		font-weight: 400;
		font-size: 40px;
		line-height: 40px;

		text-align: center;
		text-transform: capitalize;
		position: relative;

		&::after {
			content: '';
			display: block;
			height: 5px;
			width: 30%;
			left: 50%;
			transform: translateX(-50%);
			background-color: #999999;
			position: absolute;
			bottom: -38px;
		}


		@media(max-width:992px) {
			font-size: 34px;
			line-height: 34px;
		}

		@media(max-width: 576px) {
			font-size: 24px;
			line-height: 30px;
		}
	}

	&__box {
		margin-top: 120px;
		position: relative;
	}

	&__swiper {
		margin: 0 30px;
	}


	&__swiper-wrapper {
		flex-direction: row !important;
	}


	&__swiper-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 70px;
	}

	&__swiper-button-prev {
		color: #ACA5BB !important;
		transform: scale(1.8);
	}

	&__swiper-button-next {
		color: #ACA5BB !important;
		transform: scale(1.8);
	}

	&__image {
		width: 300px;
		height: 300px;
		object-fit: cover;
		border-radius: 50%;

		@media (max-width:576px) {
			width: 200px;
			height: 200px;
		}

	}

	&__name {
		font-weight: 400;
		font-size: 18px;
		line-height: 18px;
		text-align: center;
		text-transform: capitalize;
		margin-top: 25px;

	}

	&__subname {
		font-weight: 400;
		font-size: 12px;
		line-height: 12px;
		text-align: center;
		text-transform: capitalize;
		margin-top: 25px;
		color: #999999;
	}

}

.sample-slider {
	width: 40vw;
	height: 22vw;
}

.sample-slider .swiper-slide {
	height: calc((100% - 10px) / 2);
}

.sample-slider img {
	width: 100%;
}

.sponsors {
	margin-top: 180px;

	&__container {}

	&__title {
		text-align: center;
		font-weight: 400;
		font-size: 40px;
		line-height: 40px;

		text-align: center;
		text-transform: capitalize;
		position: relative;

		&::after {
			content: '';
			display: block;
			height: 5px;
			width: 30%;
			left: 50%;
			transform: translateX(-50%);
			background-color: #999999;
			position: absolute;
			bottom: -38px;
		}

		@media(max-width:1024px) {
			font-size: 54px;
			line-height: 54px;
		}

		@media(max-width:992px) {
			font-size: 34px;
			line-height: 34px;
		}

		@media(max-width: 576px) {
			font-size: 24px;
			line-height: 30px;
		}
	}

	&__box {
		margin-top: 130px;
		position: relative;
	}

	&__swiper {
		overflow: unset !important;
	}

	&__item {
		display: flex;
		align-items: center;
		height: 100%;
	}

	&__swiper-wrapper {}

	&__swiper-slide {
		margin: auto;
	}

	&__image {
		width: 100%;
	}

	&__swiper-pagination {}

	&__swiper-button-prev {
		color: #ACA5BB !important;
		transform: scale(1.8);
	}

	&__swiper-button-next {
		color: #ACA5BB !important;
		transform: scale(1.8);
	}
}

.contact {
	margin-top: 200px;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		text-align: center;
		font-weight: 400;
		font-size: 40px;
		line-height: 40px;

		text-align: center;
		text-transform: capitalize;
		position: relative;

		&::after {
			content: '';
			display: block;
			height: 5px;
			width: 30%;
			left: 50%;
			transform: translateX(-50%);
			background-color: #999999;
			position: absolute;
			bottom: -38px;
		}

		@media(max-width:1024px) {
			font-size: 54px;
			line-height: 54px;
		}

		@media(max-width:992px) {
			font-size: 34px;
			line-height: 34px;
		}

		@media(max-width: 576px) {
			font-size: 24px;
			line-height: 30px;
		}
	}

	&__subtitle {
		display: inline-block;
		font-family: 'Rubik';
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		margin-top: 52px;
		text-transform: capitalize;
		text-align: center;
	}

	&__link {
		display: inline-block;
		margin-top: 47px;
		font-weight: 400;
		font-size: 14px;
		line-height: 14px;
		text-align: center;
		text-transform: capitalize;
		color: #FFFFFF;
		position: relative;
		background-image: url(./images/link-bacground-blue.svg);
		background-position: center;
		background-size: 100% 100%;
		padding: 30px 40px;
	}

}

.footer {
	margin-top: 100px;
	height: 270px;
	display: flex;
	width: 100%;
	align-items: center;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	&__box {
		&:last-child {
			width: 100%;
			display: flex;
			align-items: center;
			flex-direction: column;

			justify-content: space-between;
			margin-top: 10px;
		}

	}

	&__box-item {}

	&__logo-link {
		font-weight: 400;
		font-size: 24px;
		line-height: 24px;
		color: #444444;
		display: flex;
		align-items: center;
	}

	&__navigation {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}


	&__logo-link {
		@media(max-width: 576px) {
			font-size: 18px;
			line-height: 18px;
		}
	}

	&__logo-image {
		@media(max-width: 576px) {
			width: 50px;
			height: 50px;
		}
	}

	&__link-image {
		width: 60px;
		height: 60px;
	}

	&__copy {
		font-family: 'Rubik',
			sans-serif;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		text-transform: capitalize;

		@media(max-width: 576px) {
			font-size: 16px;
			line-height: 24px;
		}
	}

	&__privacy {}

	&__privacy-link {
		font-family: 'Rubik',
			sans-serif;
		display: inline-block;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #444444;
		text-decoration: underline;
		text-decoration-line: underline;
		text-transform: capitalize;

		@media(max-width: 576px) {
			font-size: 12px;
			line-height: 15px;
		}

		&:not(:last-child) {
			margin-right: 30px;
			position: relative;

			@media(max-width: 576px) {
				margin-right: 15px;
			}

			&::before {
				content: '|';
				position: absolute;
				right: -15%;

				@media(max-width: 576px) {
					right: -10%;
				}
			}
		}
	}
}